table.table-grid td.row-action,
table.table-grid th.row-action {
	width:70px;
	text-align: right;
}

table.table-grid td.row-id,
table.table-grid th.row-id {
	display: none;
}

span.label-course-tag {
	font-size: 12px;
}

@media only screen and (min-width:768px){
	form .form-group-elements-3 {
		min-height: 226px;
	}
}

@media only screen and (min-width:992px){
	form .form-group-elements-3 {
		min-height: 199px;
	}
}


.table-docent-time tbody td,
.table-docent-time thead th {
	text-align: center;
}

.table-docent-time tbody th {
	width: 100px;
	text-align: right;
}

.panel-docent-import-docent textarea {
	min-height: 200px;
}

form .form-group .course-tag-list {
	font-size: 1.2em;
}