/** General **/

h1,
h2,
h3,
h4,
h5,
h6,
{
  font-family: Tahoma, sans-serif;
}

#header .navbar-brand {
	margin: 4px 0 2px 0;
	width: 110px;
	height: 45px;
	background-image: url('../images/logo.png');
	background-size: 80%;
	background-repeat: no-repeat;
}



#header .navbar.navbar-default {
	background-color: transparent;
	background-image: none;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: 0;
}

@media only screen and (min-width:992px){
	#header .navbar.navbar-default {
		border-top: 5px solid white;
	}

	#header .navbar.navbar-default .container {
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
}

#header .navbar.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a,
#header .navbar.navbar-default .container  {
	background-image: -webkit-linear-gradient(top, #c0c0c0 0%, #b9b9b9 100%);
	background-image: -o-linear-gradient(top, #c0c0c0 0%, #b9b9b9 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#c0c0c0), to(#b9b9b9));
	background-image: linear-gradient(to bottom, #c0c0c0 0%, #b9b9b9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0c0c0fffff', endColorstr='#c0c0c08f8f8', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
}

#header .navbar.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a {
	-webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
	box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
}

#header .navbar.navbar-default .dropdown-menu {
	background-color: #cccccc;
}

#header .navbar.navbar-default .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	color: #698b22;
	background-color: #c3c3c3;
	background-image: -webkit-linear-gradient(top, #c3c3c3 0%, #b9b9b9 100%);
	background-image: -o-linear-gradient(top, #c3c3c3 0%, #b9b9b9 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#c3c3c3), to(#b9b9b9));
	background-image: linear-gradient(to bottom, #c3c3c3 0%, #b9b9b9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc3c3c3', endColorstr='#ffb9b9b9', GradientType=0);
	background-repeat: repeat-x;
}

#header .navbar.navbar-default .navbar-nav > li > a {
	text-transform:uppercase;
	color: #0a0a0a;
}
.navbar.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background-color: #c3c3c3;
	color: #698b22;
}

.btn-add span {
	color:#698b22;
}

.btn-remove span {
	color:#c12e2a;
}

/** **/

.text-label-empty {
	color:gray;
	font-style: italic;
}

table.table-grid td.row-action,
table.table-grid th.row-action {
	width:70px;
	text-align: right;
}

table.table-grid td.row-id,
table.table-grid th.row-id {
	display: none;
}

span.label-course-tag {
	line-height: 23px;
	font-size: 12px;
}

@media only screen and (min-width:768px){
	form .form-group-elements-3 {
		min-height: 226px;
	}
}

@media only screen and (min-width:992px){
	form .form-group-elements-3 {
		min-height: 199px;
	}
}


.table-docent-time tbody td,
.table-docent-time thead th {
	text-align: center;
}

.table-docent-list tbody td {
	cursor: pointer;
}

.table-docent-list td.tag-column {
	max-width:300px;
}

.table-docent-time tbody th {
	width: 100px;
	text-align: right;
}

.panel-docent-import-docent textarea {
	min-height: 200px;
}

form .form-group .course-tag-list {
	font-size: 1.2em;
}

#docent-list-toolbar .form-group {
	margin-right: 10px;
}

.multiselect.dropdown-toggle.btn.btn-default {
	max-width: 325px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

ul.multiselect-container.dropdown-menu {
	overflow-x: hidden;
}

.multiselect-container .multiselect-item.filter .input-group {
	width: 100%;
}

.multiselect-container .multiselect-item.filter .input-group span.input-group-btn {
	width: 30px;
}

.multiselect-container.dropdown-menu .multiselect-item.multiselect-group.multiselect-group-clickable {
	padding-top: 5px;
	line-height: 20px;
}


/* ########### Glyhlist START ########### */
form .glyph-list li span.glyphicon {
	margin: 0;
	font-size: 30px;
	display: inline-block;
}

form .glyph-list ul {
	list-style-type: none;
	padding-right: 10px;
	padding-left: 10px;
}

form .glyph-list > .form-group {
	margin: 0 14px;
}

form .glyph-list > .form-group label {
	margin: 0;
}

form .glyph-list .glyph-list-box input {
	margin-left: 4px;
}

form .glyph-list .glyph-list-preview input {
	text-align: center;
}

form .glyph-list li {
	float: left;
	margin: 2px;
	width: 100px;
	height: 100px;
	background-color: #f9f9f9;
	border-radius: 4px;
}

form .glyph-list li:hover {
	background-color: #a8e33b;
}

form .glyph-list li.glyhicon-selected {
	background-color: #57741d;
}

form .glyph-list li.glyhicon-selected:hover {
	background-color: #6d8e21;
}


form .glyph-list li .glyph-list-preview {
	width: 100px;
	padding: 0 4px;
	display: block;
	text-align: center;
	word-wrap: break-word;
	font-weight: normal;
}

form .glyph-list li .glyph-list-preview .glyphicon-class {
	margin-top: 10px;
	font-size: 11px;
}
/* ########### Glyhlist END  ########### */

.docent-detail .control-label {
	text-align: left;
	padding-right: 0;
}

.docent-detail .tab-pane {
	margin-top: 15px !important;
}

.dropdown-menu li>span {
  display: block;
  padding: 1px 10px;
  clear: both;
}

.empty {
	font-style: italic;
	color: dimgray;
}

.docent-detail .col-md-8 {
	padding-right: 0;
}

/* Phone number list */
.docent-detail .col-md-8 > div {
	float:left;
	margin-right: 5px;
}

.docent-detail .col-md-8:hover > .btn-edit-inline {
	opacity: 0.5;
}

.docent-detail .col-md-8 > .btn-edit-inline:hover {
	opacity: 1;
}

.btn-edit-inline {
	margin-left: 2px;
	opacity: 0;
}

.btn-edit-inline:hover {
	opacity: 1;
}

.docent-detail .docent-status-list .toolbar {
	margin-bottom: 5px;
}

.docent-detail .docent-status-list .toolbar button {
	width: 100%;
}

.docent-detail .docent-status-list .panel-heading {
	padding: 7px;
}

.docent-detail .docent-status-list h4 a div {
	font-size: 12px;
	float:left;
	line-height: 17px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

.docent-detail .docent-status-list h4 a div.status-title {
	width: 115px;
}

.docent-detail .docent-status-list h4 a div.status-responsible {
	width: 110px;
	text-align: center;
}
.docent-detail .docent-status-list h4 a div.status-date {
	width: 115px;
	text-align: right;
	float:right;
}

.docent-detail .docent-status-list div.panel-body {
	padding: 7px;
}


#modalPhoneNumber .row {
	margin-bottom: 5px;
	margin-top: 5px;
}

#modalPhoneNumber input[type=text] {
	width:415px;
}

#modalPhoneNumber .button-remove-number, #modalPhoneNumber .button-add-number {
	float:right;
}

/** Zusatz Änderung ERBA**/


.fixed-table-body,.panel-title,.panel-body {
	font-family: Tahoma;
}
.col-md-8,
.col-md-4{
	font-family: Tahoma;
}