.text-label-empty {
	color:gray;
	font-style: italic;
}

table.table-grid td.row-action,
table.table-grid th.row-action {
	width:70px;
	text-align: right;
}

table.table-grid td.row-id,
table.table-grid th.row-id {
	display: none;
}

span.label-course-tag {
	line-height: 23px;
	font-size: 12px;
}

@media only screen and (min-width:768px){
	form .form-group-elements-3 {
		min-height: 226px;
	}
}

@media only screen and (min-width:992px){
	form .form-group-elements-3 {
		min-height: 199px;
	}
}


.table-docent-time tbody td,
.table-docent-time thead th {
	text-align: center;
}

.table-docent-list tbody td {
	cursor: pointer;
}

.table-docent-list td.tag-column {
	max-width:300px;
}

.table-docent-time tbody th {
	width: 100px;
	text-align: right;
}

.panel-docent-import-docent textarea {
	min-height: 200px;
}

form .form-group .course-tag-list {
	font-size: 1.2em;
}

/* ########### Glyhlist START ########### */
form .glyph-list li span.glyphicon {
	margin: 0;
	font-size: 30px;
	display: inline-block;
}

form .glyph-list ul {
	list-style-type: none;
	padding-right: 10px;
	padding-left: 10px;
}

form .glyph-list > .form-group {
	margin: 0 14px;
}

form .glyph-list > .form-group label {
	margin: 0;
}

form .glyph-list .glyph-list-box input {
	margin-left: 4px;
}

form .glyph-list .glyph-list-preview input {
	text-align: center;
}

form .glyph-list li {
	float: left;
	margin: 2px;
	width: 100px;
	height: 100px;
	background-color: #f9f9f9;
	border-radius: 4px;
}

form .glyph-list li:hover {
	background-color: #bdcddb;
}

form .glyph-list li.glyhicon-selected {
	background-color: #5098cd;
}

form .glyph-list li.glyhicon-selected:hover {
	background-color: #55a2da;
}


form .glyph-list li .glyph-list-preview {
	width: 100px;
	padding: 0 4px;
	display: block;
	text-align: center;
	word-wrap: break-word;
	font-weight: normal;
}

form .glyph-list li .glyph-list-preview .glyphicon-class {
	margin-top: 10px;
	font-size: 11px;
}
/* ########### Glyhlist END  ########### */

.docent-detail .control-label {
	text-align: right;
	padding-right: 0;
}

.docent-detail .tab-pane {
	margin-top: 15px !important;
}

.dropdown-menu li>span {
  display: block;
  padding: 1px 10px;
  clear: both;
}